<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration 
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<!-- 命名空间 -->
	<typeAliases>
		<typeAlias alias="function" type="com.precisetest.domain.function" />
	</typeAliases>
	
	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="com.mysql.jdbc.Driver" />
				<property name="url" value="jdbc:mysql://localhost:3306/test" />
				<property name="username" value="guoliawa" />
				<property name="password" value="wgl@2014" />
			</dataSource>
		</environment>
	</environments>
	<!-- 映射map -->
	<mappers>
		<mapper resource="com/precisetest/mappers/functionMapper.xml" />
	</mappers>
</configuration>